Flask
flask-cors
python-dotenv
langchain
langchain-community
langchain-groq
requests
python-dateutil
supabase
gunicorn
pydantic
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2